<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Kelembapan Tanah</th>
      <th>Nitrat Tanah</th>
      <th>Kadar Tanah</th>
      <th>Date</th>
      <th>Time</th>

    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < tanahData.length; i++){ %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= tanahData[i].kelembapanTanah %> RH</td>
        <td><%= tanahData[i].nitratTanah %></td>
        <td><%= tanahData[i].kadarTanah %></td>
        <td><%= tanahData[i].date %></td>
        <td><%= tanahData[i].time %></td>

      </tr>
    <% } %>
  </tbody>
</table>
<!-- table tanah -->
