<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Suhu Celcius</th>
      <th>Kelembapan Udara</th>
      <th>Tanggal</th>
      <th>Waktu</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < suhuData.length; i++){ %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= suhuData[i].celcius %> °C</td>
        <td><%= suhuData[i].humidity %> RH</td>
        <td><%= suhuData[i].date %></td>
        <td><%= suhuData[i].time %></td>

      </tr>
    <% } %>
  </tbody>
</table>
