<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Kekeruhan Air</th>
      <th>pH Air</th>
      <th>Oksigen</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < keruhAirData.length; i++){ %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= keruhAirData[i].kekeruhanAir %></td>
        <td><%= keruhAirData[i].phAir %></td>
        <td><%= keruhAirData[i].oksigen %></td>
        <td><%= keruhAirData[i].date %></td>
        <td><%= keruhAirData[i].time %></td>

      </tr>
    <% } %>
  </tbody>
</table>
